<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>Lunchify</title>
</head>
<body>

    <header>
        <div class="container">
            <img class="logo" src="static/images/logo3.png" alt="lunchify_logo.png">
            <h2 class="logo">LUNCHIFY</h2>
    
          <nav>
            <ul>
              <li><a href="/" action="/">Home</a></li>
              <li><a href="order" action="/order">Order</a></li>
              <li><a style="color: #1c0128;" href="about" action="/about">About</a></li>
              <li><a href="mailto:vc0829@pleasantonusd.net">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class='contrib'>
        <img class="abt" src="static/images/vansh.jpg" alt="vansh.png">
        <h1>Vansh Chhabra</h1>
        <br>
        <p style="font-size: 18px;">Vansh Chhabra is currently a 16 year old sophomore at Amador Valley High School.<br><br>When he's not programming or competing in math competitions, you can find him playing the piano, doing karate, or playing chess. He likes watching movies, spending time with his family, and his favorite book is Hail Mary.<br><br>He lives in California with his parents and brother.</p>
      </div>

      <div class='contrib'>
        <img class="abt" src="static/images/zachary.jpg" alt="vansh.png">
        <h1>Zachary Cheng</h1>
        <br>
        <p style="font-size: 18px;">Zachary Cheng is currently a 16 year old sophomore at Amador Valley High School.<br><br>When he's not programming or doing math, you can find him watching soccer, playing video games, or playing the violin. His favorite soccer team is Atletico Madrid.<br><br>He lives in California with his parents and brother.</p>

      </div>


      

    
</body>
</html>