<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Lunchify</title>
</head>
<body>

    <header>
        <div class="container">
            <img class="logo" src="static/images/logo3.png" alt="lunchify_logo.png">
            <h2 class="logo">LUNCHIFY</h2>

          <nav>
            <ul>
              <li><a style="color: #1c0128;" href="/" action="/">Home</a></li>
              <li><a href="order" action="/order">Order</a></li>
              <li><a href="about" action="/about">About</a></li>
              <li><a href="mailto:vc0829@pleasantonusd.net">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="sec">
        <h1 class="ttl">Introduction</h1>
        <h2 class="txt">Tired of waiting in the lunch line for more than half of lunch time? Well, wait no more. Lunchify lets you order the food you want the day before. This enables a more efficient method of purchase for you as well as for the lunch ladies. </h2>
      </div>

      <br>
      <br>
      <br>

      <div class="sec">
        <h1 class="ttl">Why Lunchify?</h1>
        <h3 class="txt">As students, we get school lunch but our classes are not close to the lunch line. When we reach the lunch line, it is already very long. We usually wait about 20 minutes until we can get our lunch which only leaves us with 10 minutes of lunch. Through this website, there is the option to preorder your lunch, making the process to get lunch much faster. </h3>
      </div>

      <br>
      <br>
      <br>

      <div class="sec">
        <h1 class="ttl">How to use Lunchify</h1>
        <h3 class="txt">Go to "Order" and you will see a list of lunch options. Click the "Order" tab again to see <strong>today's</strong> lunch options. Put in your ID into the text-box and click "Place Order." This will add your order to a file and you're lunch will be ready tomorrow by lunch time. Then click "Done" and you will be redirected back to this page. On the top left corner of the "Order" page, you will see "Pay." If you get more than 1 item per day, you will need to pay for the extra serving you got.</h3>
      </div>

      <br>
      <br>
</body>
</html>